<% if @articles %>
<div class="box boxLine">
  <div class="in itemList">
		<%= render :partial=>"web/articles/left_article", :collection=>@articles,:locals=>{:with_date=>true,:small_class=>false} %>
  </div> <!-- /.in -->
  <%= will_paginate @articles %>
</div> <!-- /.box -->
<% else %>
<% end %> 