	<% if @author_image %>
	<div class="img">
			<%= link_to(image_tag(@author_image),:action=>"author_info",:id=>@author.id)%>
	</div> <!-- /.img -->
		   <% end %>

	<div class="self">
	 <h3 class="head alt"><%= link_to @author.full_name, :action=>"author_info",:id=>@author.id %></h3> 
	 <p class="info"><%= @article.publish_date.to_s(:cz_date) %></p>
	 <ul>
	   <li><a href="">TODO Domov</a></li>
	   <li><a href="">TODO Rozhovor</a></li>
	 </ul>
	</div> <!-- /.self -->
