<% if @headliner_box %>
<div class="item itemBig">
  <div class="img">
    <a href=""><%= link_to(main_image_tag(@headliner_box.picture.data.url(:hp_main)), articles_path(:action=>"detail",:id=>@headliner_box.article.id)) %></a>
    <div class="caption">
      <span><%= @headliner_box.picture_title %></span>
    </div> <!-- /.caption -->
  </div> <!-- /.img -->
  
  <div class="self">
    <h2 class="head">
    	<%= link_to @headliner_box.headline, articles_path(:action=>"detail",:id=>@headliner_box.article.id)  %>
	</h2>
    <p class="perex">
    	<%= @headliner_box.perex -%> [...]
	</p>
  </div> <!-- /.self -->
</div> <!-- /.item -->
<% end %>