<ul>
	<li><%= link_to "Vytisknout článek", {:print=>"1"} %></li>
	<li><a href="">TODO Poslat e-mailem</a></li>
	<li><a href="" class="share">Sdílet</a></li>
	<li>TODO Velikost textu <a href="">+</a> <a href="">–</a></li>
</ul>