<ul>
	<li><a href="">TODO Vytisknout článek</a></li>
	<li><a href="">TODO Poslat e-mailem</a></li>
	<li><a href="" class="share">Sdílet</a></li>
	<li>TODO Velikost textu <a href="">+</a> <a href="">–</a></li>
</ul>