<% if !paging.blank? %>
<div class="paging">
	<p class="count">Zobrazeno <%= paging.length %> / <%= paging.total_entries %></p>
	<ul class="pages">
		<%= will_paginate paging,:params=>p_params %>
	</ul>
</div> <!-- /.paging -->
<% end %>