<% if @info_box %>
<div class="box">
	<h3 class="h line"><%= @info_box.title %></h3>
	<div class="in">
	   <%= main_image_tag(@info_box.pictures.first.data.url(:article_profile )) %>
	   <h4><%= @info_box.name %></h4>
	   <p><%= @info_box.text %></p>
	</div> <!-- /.in -->
</div>
<% end %>
