<div class="item itemSmall noImg">
  <div class="self">
    
    <h3 class="head">
    	<%= link_to(article_name(readest), detail_article_path(pretty_id(readest))) %>
	</h3>
  </div> <!-- /.self -->
</div> <!-- /.item -->
