<li><%= @type.to_i == 1 ? "24 hodin" : remote_readest_link("24 hodin",Time.now-24.hours,1,@section ? @section.id : nil) %></li>
<li><%= @type.to_i == 2 ? "týden" : remote_readest_link("týden",Time.now-1.weeks,2,@section ? @section.id : nil) %></li>
<li><%= @type.to_i == 3 ? "měsíc" : remote_readest_link("měsíc",Time.now-1.months,3,@section ? @section.id : nil) %></li>