<ul class="list item">
  <% if !@rel_articles.blank? %>
		<% @rel_articles.each do |article| -%>
			<li><%= link_to article_name(article), detail_article_path(pretty_id(article)) %></li>
    <% end -%>
  <% end %>
  <% if !@dailyquestions.blank? %>
    <% @dailyquestions.each do |q| %>
      <li><%= link_to "Otázka dne: #{q.headline}", question_vote_path(:question_id=>"#{q.id}-#{q.headline.parameterize}")%></li>
	  <% end %>
  <% end %>
</ul>

<% if !@themes.blank? %>
	<strong>Témata:</strong>
	<% @themes.each do |theme| %>
  <%= link_to theme.name, topic_path(pretty_name(theme)) %> <% unless theme == @themes.last %>,<% end %>
	<% end %>
	<br /><br />
<% end %>

