<% if !@rel_articles.blank? %>
<ul class="list item">
		<% @rel_articles.each do |article| -%>
			<li><%= link_to article.name, articles_path(:action=>"detail",:id=>article.id) %></li>
		<% end -%>
</ul>
<% else %>
<% end %>
<% if !@themes.blank? %>
	<strong>Témata:</strong>
	<% @themes.each do |theme| %>
		<%= link_to theme.name, articles_path(:action=>"topic",:id=>theme.id) %>,
	<% end %>
	<br /><br />
<% end %>