<div class="bImg">
	<%= link_to(main_image_tag(right_box.picture.data.url(:hp_sidebar)), articles_path(:action=>"detail",:id=>right_box.article.id)) if right_box.picture %>
	<div class="caption">
	  <span><%= right_box.headline %></span>
	</div> <!-- /.caption -->
</div> <!-- /.bImg -->