%h1 New audio

= error_messages_for :audio

- form_for(:audio, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url