#viewRecord
#listView
  .listGroup#group1
    .listHeader
      %h2.folder= link_to "Obrázky (#{Picture.all.length})", '#'
      %span Volitelny popis sekce
      .clearer
    .listFilter
    .listContent   
    .clearer
.clearer    