%h1 New inset

= error_messages_for :inset

- form_for(:inset, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url