<div class="box boxDetail">
   <h2 class="head">Často kladené otázky - Nadační fond</h2>
   <p class="perex">perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex perex </p>

   <div class="cols detailImage line">
     <div class="col1">
       <%= render :partial => "fond_menu" %>
      </div>
     <div class="col2 mainImage">
       <%= image_tag "fond.jpg" %>
       <p class="info">Co by za to člověk dal, kdyby tu byly jedny noviny, které by byla radost číst?</p>
     </div> <!-- /.col2 -->
   </div> <!-- /.cols -->

   <div class="cols detailContent">
     <div class="col1">
       <div class="box boxLine">
          <%= render :partial=>"web/articles/left_box" %>
       </div> <!-- /.box -->
     </div> <!-- /.col1 -->

     <div class="col2">
       <div class="text">
         <p>
         <span style="font-weight:bold;">1. Když se neshromáždí 300.000 Kč, hrozí novinám zánik?</span><br /><br />
         300.000 Kč je cílová částka první etapy, je to záruka toho, že Deník Referendum se bude zvolna rozvíjet a bude mezi českými médii zvyšovat svůj vliv. Čím dřív jí dosáhneme, tím lépe. <br /><br />
         Bereme to i tak, že pokud se to podaří, bude to manifestace síly naší čtenářské komunity: prokáže schopnost svépomocí se postarat o médium, které hájí její zájmy. <br /><br />
         Nadační fond Nezávislosti DR ale nevznikl s tím, že bude jediným zdrojem prostředků. <br /><br />
         Další jednání o zdrojích se vedou. Vedle příjmů od strategických partnerů a sponzorů, se počítá s postupným nárůstem příjmů z inzerce a s účastí v grantech. <br /><br />
         Na druhou stranu, pokud bude shromažďovaná částka po delší čas výrazně nižší, hrozí podstatná redukce obsahu. Zánik ne.<br /><br />
         </p>
         <p>
         <span style="font-weight:bold;">2. Co může stát v internetovém deníku 300.000 Kč?</span><br /><br />
         Tři čtvrtiny této sumy připadají na odměny členů redakce. Na vytváření obsahu se podílejí bezmála dvě desítky lidí, byť takřka nikdo z nich v novinách nepůsobí v rozsahu plného úvazku. Zbylé výdaje připadají na běžné provozní náklady, jako jsou služby agentur ČTK a Mediafax, telefony, nájmy, správa serveru, webu apod.<br /><br />
         </p>
         <p>
         <span style="font-weight:bold;">3. Lze přispívat jednorázově?</span><br /><br />
         Přispět jednorázově samozřejmě lze. Nejlepším způsobem je vyplnit formulář jako v případě trvalého příkazu, poslat na vygenerovaný variabilní symbol jednorázový převod a na emailovou adresu, ze které variabilní symbol přišel napsat, že se jedná o příspěvek jednorázový.<br /><br />
         Jako standardní tuto možnost nenabízíme proto, že pro koncepci Nadačního fondu Nezávislosti Deníku Referendum je zásadní pracovat se spolehlivým raději nižším, ale trvalým příjmem, který nám dává možnost plánovat.<br /><br />
         ČÚ NF NDR: XXX<br /><br />
         </p>
         <p>
         <span style="font-weight:bold;">4. Lze přispět ze zahraničí?</span><br /><br />
          Samozřejmě to možné je, potřebné údaje jsou tyto:<br /><br />

          IBAN:  CZ9755000000004574152001<br />
          SWIFT kód: Raiffeisenbank  RZBCCZPP<br /><br />
         </p>
         <p>
          <span style="font-weight:bold;">5. Lze přispívat anonymně?</span><br />
          Anonymně přispět rovněž lze, a to hned několika způsoby: Ve formuláři stačí zatrnout, že si nepřejete zveřejňovat své jméno. Pokud chcete, aby Vaše identita zůstala skryta i nám, lze prostředky prostě vložit, ať už přímo na účet DR nebo Nadačního fondu.<br /><br />

          Cokoli dalšího budete chtít vědět, obraťte se na:<br />
          nfndr@denikreferendum.cz<br />
         </p>
        </div> <!-- /.text -->
     </div> <!-- /.col2 -->

   </div> <!-- /.cols -->
 </div> <!-- /.box -->

