%table
  %tr
    %th{ :width => '20%', :class => 'l1' }= link_to 'nazev', '#'
    %th{ :width => '10%'     }= link_to 'datum', '#'
    %th{ :width => '25%'    } &nbsp;    
    = render(:partial => 'article_banner', :collection => @article_banners)