.recordHeader
  %h2= link_to 'Editovat grafickou upoutavku', '#'
.recordPath
.recordEdit

  = error_messages_for :article_banner

  - form_for @article_banner, :url => object_url, :html => { :method => :put } do |f|
    %fieldset
      = render :partial => "form", :locals => { :f => f }
      %p= submit_tag "Upravit"