.recordHeader
  %h2= link_to 'Nova graficka upoutavka', '#'
.recordPath
.recordEdit

  = error_messages_for :article_banner

  - form_for @article_banner, :url => collection_url do |f|
    %fieldset
      = render :partial => "form", :locals => { :f => f }
      %strong Obrazek
      .dndContent
        %div{ :class => "listFiles" }
          %div{ :class => 'addedFile forImgr' }
      .dndContainer
        %div{ :class => 'dnd imgrs banner' } Zde pretahnete obrazek 
      .clearer &nbsp;
      %br
      %p= submit_tag "Ulozit"