<%= render :partial=> "web/articles/headliner_box" %>
<%= render :partial=> "web/articles/related" %>
<%= render :partial=> "web/articles/article_div" %>	        

<div class="box cols cols3">
 <%= render :partial=>"web/sections/box" %>	
</div> <!-- /.cols -->