= f.label :headline, 'Headline:'
= f.text_field :headline, :class => 'inp'
%br
%br
%label{ :for => "tag_selection_publish_date" } Datum publikace:
%input{ :id => "tag_selection_publish_date", :name => "tag_selection[publish_date]", :size => "30", :type => "text", :value => www_date(@tag_selection.publish_date)}
%br
%br
%p Zaradte vyber do rubrik:
= render(:partial => "shared/admin/section_checkboxes", :object => @object)
%hr
