body 
{
    background: #fff;
    color: #000;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    margin: 5px;
}

h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; display: inline;}