- form_tag admin_articles_path, :method => :get, :id => 'search_articles' do
  %fieldset
    %strong filtr:
    = text_field_tag :search, params[:search]
    = submit_tag "Hledej", :name => nil
    %input{ :id => 'cancelSearchArticles', :name => 'cancel', :value => 'Zrusit vyhledavani', :type => 'button' } 
= link_to '+ novy zaznam', "#", :class => 'fr', :id => 'articles_new', :onclick => 'newArticle(); return false'
.clearer
