-#%form
  -#%fieldset
    -#%strong filtr:
    -#%input{ :type => 'text', :name => 'groupSearch', :id => 'groupSearch' }
    -#%input{ :type => 'submit', :value => 'Hledej' }
= link_to '+ novy zaznam', "#", :class => 'fr', :id => 'articles_new'
.clearer
