%h1 Listing articles

%table
  %tr
  - @articles.each do |article|
    %tr
        
      %td= link_to 'Show', object_url(article)
      %td= link_to 'Edit', edit_object_url(article)
      %td= link_to 'Destroy', object_url(article), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New article', new_object_url