%h1 New article

= error_messages_for :article

- form_for(:article, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url