%h1 New tag_selection

= error_messages_for :tag_selection

- form_for(:tag_selection, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url