%tr{ :id => "relationship_#{relationship.id}" }
  %td
    %input{ :type => 'checkbox', :value => relationship.id }
  %td= relationship.name
  %td= admin_date(relationship.publish_date)
  %td= relationship.author.full_name