html, body {background: #FFFFFF; margin: 0px; padding: 0px; color: #000000; font-family: Arial, helvetica, sans-serif; font-size: 12px; line-height: 14px; }
body { margin: 10px; }

img { border: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }

a { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; }

form, fieldset { margin: 0px; padding: 0px; border: none; }

.bold { font-weight: bold; }
.center { text-align: center !important; }
.fr { float: right; }
.fl { float: left; }
.clearer { clear: both; display: block; height: 1px; }

.header { width: 100%; display: block; }
.logo { width: 100px; float: left; }
.user { float: left; border-left: 1px solid #ebebeb; padding-left: 20px; }
.navigation { float: right; }
.navigation ul, .navigation ul li { margin: 0px; padding: 0px; list-style: none; display: inline; }
.navigation ul li { margin-left: 20px; }

.mainFilter { width: 100%; display: block; border-top: 1px dotted #ebebeb; text-align: right; margin-top: 10px; padding: 10px 0px; }

#container { border-top: 5px solid #959595; width: 100%; padding-bottom: 2em; }

.listGroup { border-top: 1px solid #ffffff; }

.listHeader { background-color: #ebebeb; padding: 5px 20px; }
.listHeader h2 { font-size: 34px; line-height: 44px; font-weight: normal; display: inline; float: left;}
.listHeader h2 a { padding-left: 60px; display: block; height: 44px; background: url('../images/plus.gif') top left no-repeat; }
.listHeader h2.active a { background: url('../images/minus.gif') top left no-repeat; color: #000000; }
.listHeader span { display: block; float: right; }

.listFilter { background-color: #f2f2f2; padding: 5px 35px; border-bottom: 1px dotted #000000; }

.listContent table { padding: 0px; border: none; margin: 0px; width: 100%; border-spacing: 0px; border-collapse: collapse; }
.listContent table, .listContent th, .listContent td { font-family: Arial, helvetica, sans-serif; font-size: 12px; line-height: 14px; }
.listContent table th, .listContent table td { text-align: left; vertical-align: middle; border-bottom: 1px dotted #000000; padding-top: 5px; padding-bottom: 5px; }
.listContent table .listItem a.folder { padding-left: 30px; display: block; line-height: 18px; height: 18px; background: url('../images/plus-small.gif') top left no-repeat; }
.listContent table .listItem a.active { padding-left: 30px; display: block; line-height: 18px; height: 18px; background: url('../images/minus-small.gif') top left no-repeat;  }
.listContent table .listItem a.file { padding-left: 30px; display: block; line-height: 22px; height: 22px; background: url('../images/icons/file-default.gif') top left no-repeat; }
.listContent table .pdf { background: url('../images/icons/pdf.gif') top left no-repeat !important;}

.listContent .listImageBox { float: left; text-align: center;  margin: 5px 0px; margin-right: 30px; border: 1px solid silver; width: 160px; height: 150px;}
/*.listContent .listImageBox a img { padding-bottom: 2px; margin-bottom: 2px; border-bottom: 2px solid blue;}*/
.listContent .listImageBox img { padding-bottom: 2px; margin-bottom: 2px; text-align: center;}

.tOver { background-color: #f8f8f8; }
.tOut { background-color: #ffffff; }

/* LIST ITEM LEVELS */
.l0 { padding-left: 35px; }
.l1 { padding-left: 65px; }
.l2 { padding-left: 95px; }
.l3 { padding-left: 125px; }
.l4 { padding-left: 155px; }
.l5 { padding-left: 185px; }
.l6 { padding-left: 215px; }

/* RECORD EDIT */
.listSmall { width: 44%; float: left; height: 450px; overflow: auto; }

#viewRecord { width: 55%; float: left; margin-right: 2px; height: 450px; overflow: auto; }

.recordHeader { background-color: #ebebeb; padding: 5px 20px;  }
.recordHeader h2 { font-size: 34px; line-height: 44px; font-weight: normal; }
.recordHeader h2 a { padding-left: 60px; display: block; height: 44px; background: url('../images/arrow.gif') top left no-repeat; }

.recordPath { background-color: #f2f2f2; padding: 5px 35px; border-bottom: 1px dotted #000000; }

.recordEdit { border: 1px solid #ebebeb; margin: 10px 0px; padding: 10px 33px; }

.recordEdit .inp { width: 250px; }
/*.recordEdit select { width: 250px; }*/
.recordEdit label { padding-right: 10px; }
.recordEdit textarea { width: 500px; height: 400px; }
.recordEdit .smallText { height: 60px; }

.recordEdit hr { border: none; color: #ffffff; background-color: #ffffff; height: 1px; border-bottom: 1px dotted #ebebeb; }

.addedFile { float:left; display: inline; margin-right: 5px; width:136px;  }
.multipleSelect { width: 350px; height: 100px; }

.hidden { display: none}
.visible { display: block; }
#counter { position: absolute;  }

table.addedFile{
  display: block;
  width: 100%;

}

.listImageItemBox { width: 85px; height: 85px; background-color: gray; text-align: center; position: relative; margin: 0px auto; margin-top:5px;}
.cropLine { overflow: hidden; width: 100%; height: 1em; }
.listItem .cropLine { height:22px; }


