body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background-color: #e0edf3;
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  font-color: #5e6568;
  line-height: 19px; }
