span { color: grey;  }
.listContent table .listItem span.active { padding-left: 30px; display: block; line-height: 18px; height: 18px; background: url('../images/minus-small.gif') top left no-repeat;  }

.loading  { background: url('../images/ajax_load.gif') 50% 50% no-repeat !important; height: 100px; }
