/* na vetve bez potomku neni mozne klikat */
span { color: grey;  }
.listContent table .listItem span.active { padding-left: 30px; display: block; line-height: 18px; height: 18px; background: url('../images/minus-small.gif') top left no-repeat;  }

/* ajax loader style */
.loading  { background: url('../images/ajax_load.gif') 50% 50% no-repeat !important; height: 100px; }

/* drag'n'drop elements */
.dndContent { width: 70%; margin-right: 10px; float: left; }
.dndContainer { width: 25%; float: left; }
.dnd { width: 90%; height: 100px; padding: 5px; color:#bbb; background:#fff; border: 1px dashed #bbb;}
/*.addedFile{ float: left;  }*/

