%h1 New content_component

= error_messages_for :content_component

- form_for(:content_component, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url