.recordHeader
  %h2= link_to 'Editovat záznam', '#'
.recordPath
.recordEdit
  - form_for @section, :url => object_url, :html => { :method => :put } do |f|
    %fieldset
      = render :partial => "form", :locals => { :f => f }
      %p= submit_tag "Upravit"