%h1 Listing article_banners

%table
  %tr
  - @article_banners.each do |article_banner|
    %tr
        
      %td= link_to 'Show', object_url(article_banner)
      %td= link_to 'Edit', edit_object_url(article_banner)
      %td= link_to 'Destroy', object_url(article_banner), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New article_banner', new_object_url