%h1 New article_banner

= error_messages_for :article_banner

- form_for(:article_banner, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url