<div class="item">
  <div class="img">
    <% if comment.name.blank? %>
      <h3 class="head"><%= link_to "Bez názvu", detail_article_path(pretty_id(comment.article)) + "#comment_#{comment.id}"%></h3>
    <% else %>
      <h3 class="head"><%= link_to comment.name, detail_article_path(pretty_id(comment.article)) + "#comment_#{comment.id}"%></h3>
    <% end %>
  </div>
  <div class="self">
      <h3 class="head"><%= link_to "#{comment.article.author.full_name}: #{comment.article.name}", detail_article_path(pretty_id(comment.article)) %></h3>
      <p class="perex"><%=th comment.article.perex %></p>
  </div>
</div>
