%h1 New question_vote

= error_messages_for :question_vote

- form_for(:question_vote, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url