.recordHeader
  %h2= link_to 'Editovat záznam', '#'
.recordPath
.recordEdit
  - form_for @theme, :url => object_url, :html => { :method => :put } do |f|
    %fieldset
      = render :partial => "form", :locals => { :f => f }
      %br
      %br
        %hr
      %br
      %br  
      %h3 Články s tématem:
      - at = ArticleTheme.find(:all, :conditions => {:theme_id => @theme.id})
      - Article.find(:all, :select => :name, :conditions => [ "id in (?)", at.map{ |t| t.article_id} ] ).each  do |a|
        %p= a.name
      %br
      %br  
      %p= submit_tag "Upravit"
