<p>Referendum (c) <%= Time.now.year %></p>
<ul>
  <li><a href="TODO">Dnes</a></li>
  <% Section.all_root.each do |root| %>
	  <li><%= (@section && @section.id == root.id) ? root.name : link_to(root.name, sections_path(:action=>"detail",:id=>root.id)) %></li>
  <% end %>
</ul>