<p>
	&copy; Vydavatelství Referendum s.r.o. <%= Time.now.year -%>
<%- if @show_rss -%>
, <%= yield(:rss) -%>
<% end -%>
</p>
<ul>
  <li><%= link_to "Dnes", home_path %></li>
  <% Section.all_root.each do |root| %>
  		<% next if root.id == 9999 %>
	  <li><%= (@section && @section.id == root.id) ? root.name : link_to(root.name, section_path(pretty_name(root))) %></li>
  <% end %>
</ul>
