<div class="bImg">
	<%= image_tag "web/banner-dr.jpg" %>
	<div class="caption">
	  <span>TODO</span>
	</div> <!-- /.caption -->
</div> <!-- /.bImg -->

<div class="bImg">
	<%= image_tag "web/banner-dr.jpg" %>
	<div class="caption">
	  <span>TODO</span>
	</div> <!-- /.caption -->
</div> <!-- /.bImg -->

<div class="bImg">
	<%= image_tag "web/banner-dr.jpg" %>
	<div class="caption">
	  <span>TODO</span>
	</div> <!-- /.caption -->
</div> <!-- /.bImg -->

<div class="bImg">
	<%= image_tag "web/banner-dr.jpg" %>
	<div class="caption">
	  <span>TODO</span>
	</div> <!-- /.caption -->
</div> <!-- /.bImg -->