<% cache(:action => params[:action], :action_suffix => "authors") do %>
<div class="box">
	<h2 class="h">Autoři</h2>
	<ul>
	  <% @authors.each do |author| %>
      <li><%= link_to author.full_name, author_info_path("#{author.id}-#{author.full_name.parameterize}" ) %></li>
	  <% end%>
	  <li>&nbsp;</li>
	  <li>
	  <%= link_to "Všichni autoři", authors_info_path if controller.action_name != "authors" %>
	  <%#= link_to "Všichni autoři",articles_path(:action=>"authors") %>
	  </li>
	</ul>
</div> <!-- /.box -->
<% end %>
