 <div class="box boxSettings">
	<h2 class="h line">Nejdiskutovanější</h2>
	<div class="in">
	  <%= render :partial=>"web/articles/readest",:collection=>@newest %>
	</div> <!-- /.in -->
</div> <!-- /.box -->