<div class="box">
  <iframe src="http://www.facebook.com/plugins/recommendations.php?site=denikreferendum.cz&amp;width=290&amp;height=500&amp;header=true&amp;colorscheme=light&amp;font&amp;border_color" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:290px; height:500px;" allowTransparency="true"></iframe>
</div> <!-- /.box -->
