<div class="box">
	<h2 class="h line">Deník Referendum</h2>
	<ul>
		<% TextPage.all_visible.each do |tp| %>
			<li><%= link_to tp.name, text_page_path(pretty_name(tp)) %></li>
		<% end %>
		<li><%= link_to "DR na Facebooku", "http://www.facebook.com/profile.php?id=100000494491574" %></li>
	</ul>
</div> <!-- /.box -->