<div class="box">
	<h2 class="h line">Deník Referendum</h2>
	<ul>
		<% TextPage.all_visible.each do |tp| %>
			<li><%= link_to tp.name, :controller=>"/web/text_pages",:action=>"show", :id=>tp.id %></li>
		<% end %>
	</ul>
</div> <!-- /.box -->