<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <meta name="author" content="Sortof" />
    <meta name="copyright" content="2009 Sortof - www.sortof.info" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title></title>
    <%= stylesheet_link_tag 'web/css/default' %>
    <link rel="shortcut icon" href="" />
  </head>
  <body>
	<div id="content" class="cols hpCols">
    <div id="view" style="margin-left: 10px;">
      	<div class="col3">        
          <div class="box">
				<%= yield %>
		  </div> <!-- /#box -->
    	</div> <!-- /#col3 -->
    </div> <!-- /#view -->
	</div>
  </body>
</html>