%tr{ :id => "relationthemeship_#{relationthemeship.id}" }
  %td
    %input{ :type => 'checkbox', :value => relationthemeship.id }
  %td= relationthemeship.name
  %td= admin_date(relationthemeship.updated_at)
  -#%td= relationthemeship.author.full_name