%table{ :width => '100%' }
  %tr
    %th{ :width => '4%'    } &nbsp;
    %th{ :width => '56%' }= link_to 'nadpis', '#'
    %th{ :width => '20%'     }= link_to 'datum', '#'
    -#%th{ :width => '20%'    }= link_to 'autor', '#'
    = render(:partial => 'relationthemeship', :collection => @relationthemeships)
    %th{ :colspan => '4' }
      = will_paginate @relationthemeships, :previous_label => 'Předchozí', :next_label => 'Další'