.recordHeader
  %h2 Editovat uzivatele
.recordPath
.recordEdit  
  - form_for(:user, :url => object_url, :html => { :method => :put }) do |f|
    = f.error_messages
    %fieldset
      = render :partial => "form", :locals => { :f => f }
      %p= submit_tag "Upravit"
    = link_to 'Zpět', collection_url