.user
  %strong= current_user.user_name 
  %br
  %em user group (editor)
  %br>
  %br
  %a{ :href => '#' } my profile
  %br
  %a{ :href => '#' } my articles
  %br
  = link_to "logout", user_session_path, :method => :delete, :confirm => 'Opravdu se chcete odhlásit?'
  %br